.conteainerDetalles{
    display: flex;
    justify-content: center;
    padding-bottom: 15px
}

.ItemDetail{
    display: flex;
    justify-content: center;
    font-size: 30px;
    line-height: 55px;
    margin: 15px;

}
.foto{
    width: 400px;
    display: flex;
    margin:10px 0 20px 20px;
    padding: 20px 0 20px 30px;
}

.mostrarBotonCompra{
    background-color: rgb(152, 197, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 0 20px 0 20px;
}
.cantidadCompra{
    height: 200px;
}
.cantidadCompra{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    font-size: 19px;
    padding: 25px;
}