.conteainerDetalles{
    display: flex;
    justify-content: center;
    flex-direction: wrap;
}

.ItemDetail{
    width: 2500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    padding: 20px 10px 25px 0;
    margin: 15px;
    font-size: 35px;
}
.fotosProducto{
    display: flex;
    margin:10px 0 20px 20px;
    padding: 20px 0 20px 30px;
}
