.ItemDetail{
    width: 2500px;
    display: flex;
    justify-content: space-around;
    width: 1400px;
}
.detallesProducto{
    font-size: 22px;
    margin: 15px;
    
    padding: 20px 10px 10px 0;
}
.fotosProducto{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:10px 0 20px 20px;
    padding: 20px 0 20px 30px;
}
.tituloProducto{
    font-size: 35px;
    padding-bottom: 40px;
}