.finalizarCompra{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.tituloCarritoCompras{
    display: flex;
    justify-content: left;
    padding: 15px 0 15px 50px;
    font-size: 25px;
}

